@import url("https://fonts.google.com/specimen/Roboto?selection.family=Roboto");
* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
input,
a,
button,
select,
textarea {
  color: #000;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  margin: 0; }
  h1:focus,
  h2:focus,
  h3:focus,
  h4:focus,
  h5:focus,
  h6:focus,
  p:focus,
  span:focus,
  label:focus,
  input:focus,
  a:focus,
  button:focus,
  select:focus,
  textarea:focus {
    outline: none; }

select {
  -moz-appearance: none;
  -webkit-appearance: none; }

table {
  border-collapse: collapse;
  table-layout: fixed; }

input,
select,
textarea,
button {
  border: 0;
  border-radius: 0; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

button {
  background: transparent;
  cursor: pointer; }

button::-moz-focus-inner {
  border: 0; }

a {
  cursor: pointer;
  text-decoration: none; }
  a:focus, a:active, a:hover {
    color: #000;
    text-decoration: none; }

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0; }

::placeholder {
  color: #999;
  opacity: 1; }

body {
  height: 100%;
  margin: 0;
  padding: 0; }

* {
  font-family: 'Roboto', sans-serif; }

.main-title {
  font-size: 24px;
  justify-content: flex-end; }

.main-content {
  display: flex;
  flex-direction: column; }

.techno-title {
  font-size: 12px; }

.type-tool {
  font-size: 24px;
  position: relative;
  transform: translateX(100%); }
  .type-tool::before {
    background-image: url("assets/triangle.svg");
    background-repeat: no-repeat;
    content: '';
    height: 90px;
    position: absolute;
    transform: translateX(-50%);
    top: -35px;
    width: 100px;
    z-index: -1; }

.tools-container {
  display: flex;
  flex-wrap: wrap; }

.container-techno {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 100px;
  padding: 50px; }

.techno {
  align-items: center;
  background-color: #BED23C;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 300px;
  margin: 100px 20px 10px 20pX;
  position: relative;
  width: 200px; }
  .techno::before {
    border: 1px solid #BED23C;
    border-radius: 5px;
    bottom: 10px;
    content: '';
    left: -10px;
    right: 10px;
    position: absolute;
    top: -10px;
    z-index: -1; }

.logo-techn {
  height: 100px;
  margin: 10px;
  width: 100px; }

span {
  font-size: 12px;
  margin: 15px;
  text-align: center; }

.description {
  display: flex;
  font-size: 16px;
  font-weight: bold;
  margin: 5px; }

.title {
  display: flex;
  font-size: 16px;
  margin: 5px; }

.nav-bar {
  align-items: center;
  box-shadow: 0px 11px 5px -5px #C4C4C4;
  display: flex;
  font-size: 24px;
  flex-direction: row;
  height: 90px;
  justify-content: space-between;
  margin-left: 20px; }

.send-button {
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #FFF;
  display: inline-block;
  color: white;
  cursor: pointer;
  padding: 15px 31px;
  text-decoration: none; }
  .send-button:hover {
    background-color: transparent; }
  .send-button:active {
    position: relative; }

.email-input {
  border: 2px solid white;
  border-radius: 10px;
  height: 28px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 350px; }

.contact-title {
  color: #FFF;
  font-size: 24px; }

.copyright {
  background-color: #C4C4C4;
  color: black;
  display: flex;
  font-size: 12px;
  font-weight: bold;
  justify-content: flex-end;
  margin: 0;
  width: 100%; }

.contact-form {
  align-items: center;
  background-color: #00ADEE;
  color: #FFF;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  height: 20vh;
  justify-content: center; }

.footer {
  margin-top: 50px; }

/*# sourceMappingURL=application.css.map */
