body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Roboto', sans-serif;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.techno-title {
  font-size: $subtitle-size;
}

.main-title {
  font-size: $main-title-size;
  justify-content: flex-end;
}

.type-tool {
  display: flex;
  font-size: $main-title-size;
  position: relative;
  max-width: 275px;

  &::before {
    background-image: url('assets/triangle.svg');
    background-repeat: no-repeat;
    content: '';
    height: 90px;
    position: absolute;
    width: 100px;
    right: 80%;
    top: -30px;
    z-index: -1;
  }
}

.tools-container {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  padding: 50px;
  margin-left: 100px;
  width: auto;
}

.container-techno {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 100px;
  margin-top: 100px;
  max-width: 1200px;
  width: 100%;
}

.techno {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 222px;
  padding: 20px;
  width: 100%;
}

.main-tech {
  border-right: 2px solid $green ;
  grid-column: 1;
  grid-row: 1 / 3;
}

.logo-techn {
  height: 100px;
  margin: 10px;
  width: 100px;
}

.techno-description {
  font-size: $description-size;
  margin: 15px;
  text-align: center;
}

.description {
   display: flex;
   font-size: $description-size;
   font-weight:bold;
   margin: 5px;
}

.nav-bar {
  align-items: center;
  box-shadow: 0px 11px 5px -5px $grey;
  display: flex;
  height: 90px;
  justify-content: space-between;
  margin-left: 20px;
}

.send-button {
	border-radius: 8px;
  border: 1px solid $white;
	color: white;
  cursor: pointer;
	padding:15px 30px;
	text-decoration:none;
}

.email-input {
  border:2px solid white;
  border-radius:10px;
  height: 30px;
  margin: 20px auto;
  width: 350px;
}

.contact-title {
  color: $white;
  font-size: $main-title-size;
}

.copyright {
  background-color: $grey;
  color: black;
  display: flex;
  font-size: $description-size;
  font-weight:bold;
  justify-content: flex-end;
  margin: 0;
  width: 100%;
}

.contact-form {
  align-items: center;
  color: $white;
  display: flex;
  flex-direction: column;
  font-size: $main-title-size;
  height: 20vh;
  justify-content: center;
}

.footer {
  background-color: $blue;
}

@media (max-width: 1024px) {
  .tools-container {
    display: inline;
    margin-left: -100px;
  }

 .main-title {
    display: none;
  }

 .techno {
    border: none;
    border-bottom: 2px solid $green;
    box-sizing: content-box;
    padding: 20px;
  }
}
